.popupRes {
    position: fixed ;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: block ;
    justify-content: center ;
    align-items: center ;
}

.popupInner {
    position: fixed;
    height: 25vh;
    width: 100vh;

    top: 25vh;
    left: 50%;
    padding: 32px;
    max-width: 540px;
    background-color: white;
}

.popupInner .closeBtn {
    position: absolute ;
    top: 160px;
    right: 16px;
}

.popupInner .confirmBtn {
    position: absolute ;
    top: 160px;
    right: 80px;
}